# =========================
# BACKEND SPECIFIC
# =========================

# ENV FILES
Backend/.env

# NODE MODULES
Backend/node_modules/

# LOGS
Backend/logs/
Backend/*.log

# TEMP FILES
Backend/tmp/

# UPLOADS
Backend/uploads/

# DATABASE FILES
Backend/*.sqlite
Backend/*.db